/* .shop-now-container {
    display: flex;
    align-items: center;
}

.shop-now {
    display: flex;
    align-items: center;
    gap: 10px;
}

.explore-collection {
    background-color: #000;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
} */